<tr>
	<td><%= link_to task.title, edit_task_path(task) %></td>
	<td><%=h task.started %></td>
	<td><%=h task.found %></td>
	<td><%=h task.done %></td>
	<td><%=h task.user.initials unless task.user.nil? %>
	<td><%=h task.low_estimate %></td>
	<td><%=h task.high_estimate %></td>
	<td><%=h task.initial_estimate %></td>
	<% for cell in task.cells %>
		<td><span id="hours_<%= cell.id %>"><%=h cell.hours %></span>
				<%= in_place_editor  "hours_#{cell.id}", 
                        {:url => url_for(:action => "update_cell", :id => cell.id) } %>
		</td>
	<% end %>
</tr>
