<h1>New task</h1>

<% form_for(@task, :builder => ScrumBuilder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :started %><br />
    <%= f.date_select :started, :include_blank => true %>
  </p>
  <p>
    <%= f.label :found %><br />
    <%= f.text_field :found %>
  </p>
  <p>
    <%= f.label :done %><br />
    <%= f.text_field :done %>
  </p>
  <p>
    <%= f.label :low_estimate %><br />
    <%= f.fibonacci_select 'low_estimate' %>
  </p>
  <p>
    <%= f.label :high_estimate %><br />
    <%= f.fibonacci_select 'high_estimate' %>
  </p>
	<p>
    <%= f.hidden_field :sprint_id, :value => @sprint.id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>