<p>
  <b>Title:</b>
  <%= in_place_editor_field :sprint, 'title' %>
</p>

<p>
  <b>Theme:</b>
  <%= in_place_editor_field :sprint, 'theme' %>
</p>

<p>
  <b>Start date:</b>
  <%= @sprint.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @sprint.end_date %>
</p>

<p>
  <b>Number of days:</b>
  <%=h @sprint.number_of_days %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %> |
<%= link_to 'Add Task', :controller => :tasks, :action => :new, :params => {:id => @sprint.id} %> |
<%= link_to 'Workload', :action => :workload, :params => {:id => @sprint.id} %> |
<%= link_to 'Burndown', :action => :burndown, :params => {:id => @sprint.id} %>

<table>
	<th <%= sort_th_class_helper "title" %>><%= sort_tasks_table_helper "Task", "title" %></th>
	<th <%= sort_th_class_helper "started" %>><%= sort_tasks_table_helper "Started", "started" %></th>
	<th <%= sort_th_class_helper "found" %>><%= sort_tasks_table_helper "Found", "found" %></th>
	<th <%= sort_th_class_helper "done" %>><%= sort_tasks_table_helper "Done", "done" %></th>
	<th>Who</th>
	<th <%= sort_th_class_helper "low_estimate" %>><%= sort_tasks_table_helper "Low Estimate", "low_estimate" %></th>
	<th <%= sort_th_class_helper "high_estimate" %>><%= sort_tasks_table_helper "High Estimate", "high_estimate" %></th>
	<th <%= sort_th_class_helper "initial_estimate" %>><%= sort_tasks_table_helper "Initial Estimate", "initial_estimate" %></th>
	<% for workday in @sprint.workdays %>
		<th><%= workday.to_s(:short) %></th>
	<% end %>
	
	<%= sprint_sums_helper('Actual', @sprint.actual) %>
	<%= sprint_sums_helper('2/3 Estimate', @sprint.two_thirds_estimate) %>
	<%= sprint_sums_helper('Low Estimate', @sprint.low_estimate) %>
	<%= sprint_sums_helper('High Estimate', @sprint.high_estimate) %>
	

	</tr>
	<% for task in @sprint.tasks.ordered(@sort)  %>
		<%= render :partial => "/tasks/task_partial", :locals => { :task => task } %>
	<% end %>
</table>

